.ListGroup{
display:flex; 
align-items: center;
justify-content: center;
padding: 5px 5px;
flex-wrap: wrap;
}

.CardItem{
    margin: 20px;
    background-color: rgb(51, 51, 51);
    border-radius: 20px;
    padding: 10px;
}



.ItemImg{
    border-radius: 20px;
    width: 200px;
    height: 200px;

}

.ItemHeader{
font-size:xx-large;
padding: 5px;
}

.ItemFooter{
    padding:10px;
}

.VerDetalle{
    border-radius: 8px;
  }