.ListGroup{
display: flex;
align-items: center;
justify-content: center;
}

.CardItem{
    margin: 20px;
    background-color: rgb(52, 53, 53);
    border-radius: 20px;

}

.Info{

}

.ItemImg{
    border-radius: 20px;
    width: 200px;
    height: 200px;

}

.ItemHeader{
font-size:xx-large;
padding: 5px;
}

.ItemFooter{
    padding:10px;
}