.logomoto{
    border-radius: 10px;
    border-color: black;
    border-style:double;
}

.Option{
        padding: 10px 20px;
        background-color: #333333;
        color: white;
        margin: 5px;
        border-radius: 5px;
        cursor: pointer;
    }