body {
  background-image: url(imagenes/motofondo.jpg);
  height:100%;
  background-attachment: scroll;
  }

#root {
margin:0%;
padding: 0%;
max-width: 100%;
text-align: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: white;
}

h3{
  color: white;
}

div{
  color: white;
}

a{
  text-align: center;
}

.TituloHome{
  margin: 10px;
  border: 25px;
  padding: 25px;
}
.VerDetalle{
  border-radius: 8px;
}